<% posts.each do |post| %>
<div class="card border-dark mt-2 shadow">
  <div class="row no-gutters">
    <div class="col-md-4">
      <%= link_to post_path(post) do %>
        <%= image_tag post.get_post_image(540,540), class: "image-fit" %>
      <% end %>
    </div>
    <div class="card-body d-flex flex-column col-md-8 pt-2 pl-4 pr-4 pb-3">
      <%= render "public/posts/post_deteil", post: post %>
    </div>
  </div>
</div>
<% end %>

<div class="d-flex justify-content-center mt-2">
  <%= paginate posts %>
</div>