<div class="row mt-3 d-flex justify-content-end mr-1">
  <%= form_with url: posts_path, method: :get do |f| %>
  <div class="input-group">
    <%= f.text_field :post_word, placeholder: "投稿を検索", class: "input-group-prepend" %>
    <span class="input-group-btn">
     <%= f.button type: "submit" do %><i class="fas fa-search"></i><% end %>
    </span>
  </div>
  <% end %>
</div>