<div class="row">
  <div class="card border-dark mx-auto mt-3 col-md-10">
    <div class="card-body">
      <div class="d-flex border-bottom align-items-end pb-1 mb-3">
        <h5 class="card-title mb-0">投稿編集</h5>
        <span class="small text-danger mb-0 ml-1">*は必須項目です</span>
      </div>
      <%= render "post_form", post: @post, beer: @beer, bar: @bar, shop: @shop, bars: @bars, shops: @shops %>
    </div>
  </div>
</div>
