 <div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <%= render "post_search" %>
      <div class="card border-dark mt-2">
        <div class="row no-gutters">
          <div class="col-md-4">
            <%= image_tag @post.get_post_image(230,230) %>
          </div>
          <div class="card-body d-flex flex-column col-md-8 pt-2 px-3 mr-0">
            <%= render "post_deteil", post: @post %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>