<div class="row">
  <div class="card col-lg border-dark mr-1 mt-2">
    <div class="card-body d-flex flex-column">
      <div class="card-title mx-auto">
        <h6><b>飲まれたお店</b></h6>
      </div>
      <div>
        <% bars.each do |bar| %>
          <li class="list-unstyled">
            <%= bar.name %>(<%= bar.location %>)
          </li>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card col-sm border-dark ml-1 mt-2">
    <div class="card-body d-flex flex-column">
      <div class="card-title mx-auto">
        <h6><b>買われたお店</b></h6>
      </div>
      <div>
        <% shops.each do |shop| %>
          <li class="list-unstyled">
            <%= shop.name %>(<%= shop.location %>)
          </li>
        <% end %>
      </div>
    </div>
  </div>
</div>