<div class="d-flex justify-content-end mb-2">
  <div class="mr-1">
    <%= form_with url: admin_group_path(group.id), method: :get do |f| %>
      <div class="input-group border border-secondary rounded-pill bg-white mb-1">
        <%= f.text_field :group_post_search, placeholder: "トピック名で検索", class: "form-control form-control-sm input-group-prepend border-0 bg-transparent" %>
        <span class="input-group-btn">
          <%= f.button type: "submit",class: "border-0 form-control form-control-sm bg-transparent" do %><i class="fas fa-search"></i><% end %>
        </span>
      </div>
    <% end %>
  </div>
</div>