<% if group_posts.present? %>

  <% group_posts.each do |group_post| %>
    <%= render "admin/group_posts/show", group: group, group_post: group_post %>
  <% end %>

<% else %>
  <div class="text-center mt-3">
    <span>トピックがありません<span>
  </div>
<% end %>