<div class="col top-background text-center">
  <div class="top-text d-inline-block text-left m-5">
    <h1>最高の一杯を求めて</h1>
    <p>
      <i class="fas fa-camera fa-lg"></i> 飲んだビールを記録したい<br>
      <i class="fas fa-beer fa-lg"></i> 人気のビールが飲めるお店を知りたい<br>
      <i class="fas fa-user-friends fa-lg"></i> 好みの合う人と交流したい
    </p>
    <p>
      Brew Hubはそんな希望を叶える、ビール好きのためのSNSです。<br>
      あなたにとって最高の一杯を探しませんか？
    </p>
    <div class="text-center py-3">
      <%= link_to "ゲストログイン", guest_sign_in_path, method: :post, class: "btn btn-secondary px-4 rounded-pill" %>
    </div>
  </div>
</div>