<div class="mx-auto col-md-10">
  <% unless current_member.account_name == "guestuser" %>
    <ul class="nav nav-tabs nav-justified mt-3 border-bottom-0">
      <li class="nav-item">
        <a href="#edit-basic" class="nav-link active text-reset border-dark" data-toggle="tab">基本情報</a>
      </li>
      <li class="nav-item">
        <a href="#edit-beer-styles" class="nav-link text-reset border-dark" data-toggle="tab">マイビアスタイル</a>
      </li>
    </ul>

    <div class="tab-content">
      <div id="edit-basic", class="tab-pane active">
        <%= render "edit_basic", member: @member %>
      </div>

      <div id="edit-beer-styles", class="tab-pane">
        <%= render "edit_beer_style", member: @member, beer_styles: @beer_styles %>
      </div>
    </div>

  <% else %>
    <div class="mt-3 border-top border-dark">
      <%= render "edit_beer_style", member: @member, beer_styles: @beer_styles %>
    </div>
  <% end %>
</div>
