<div class="d-flex mt-3">
  <div class="col-md-3", id="brewery-form">
    <%= render "form", brewery: @brewery %>
  </div>

  <div class="col-md-9">
    <div id="error-message">
      <%= render "layouts/errors", obj: @brewery %>
    </div>

    <div id="brewery-list">
      <%= render "index", breweries: @breweries %>
    </div>

    <div class="d-flex justify-content-center">
      <%= paginate @breweries %>
    </div>
  </div>
</div>