@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~toastr/toastr';

/*ページネーションのレイアウト*/
.pagination>li>a {
  border: none;
  color: #696969;
}

.pagination>.active>a {
}

.page-item.active .page-link {
  background-color: #c0c0c0;
}

.pagination>li>a:hover {
  color: #000000;
}

html {
  font-size: 15px;
  /*フッター固定の為の設定*/
  height: 100%;
}

/*フッター固定の為の設定*/
body {
  height: 100%;
}

/*背景画像固定の為の設定（iOSでのバグを防ぐ）*/
body:before{
  content: "";
  position: fixed;
  background-image: url('../images/top_bg.jpg');
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode:lighten;
  background-size:cover;
  height: 100vh;
  width: 100%;
}

/*フッター固定の為の設定*/
footer{
  position: sticky;
  top: 100vh;
}

.table-white {
  background-color: #FFFFFF;
}

/*画像のレスポンシブ対応の為の設定*/
.image-fit {
  max-width: 100%;
}

/*セーフサーチ適用時の画像縦横比調整*/
.height-auto{
  height: auto;
}

/*タブの背景色*/
.nav-link {
  background-color: #d3d3d3
}

/*トップページのボタンサイズ*/
.btn-top{
  width: 150px;
}

/*ランキング3位の王冠の色指定*/
.color-orange{
  color: orange;
}

/*画面幅に関わらず改行させない*/
.no-wrap{
  white-space: nowrap;
}

/*sm以下で非表示*/
@media only screen and (max-width: 576px) {
  .sm-none { display: none !important; }
}

/*sm以下で拡大*/
@media only screen and (max-width: 576px) {
  .btn-expand-sm {font-size:1.5em; }
}