<table class="table table-sm table-bordered table-white mt-2">
  <thead class="border-dark">
    <tr class="table-secondary text-center border-dark">
      <th>お店ID</th>
      <th>お店名</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% bars.each do |bar| %>
      <tr>
        <td class="align-middle"><%= bar.id %></td>
        <td class="align-middle"><%= bar.place_name %></td>
        <td class="text-center align-middle">
          <%= link_to "削除", admin_bar_path(bar), method: :delete, remote: true, "data-confirm" => "本当に削除しますか？", class: 'btn btn-danger px-2' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>