<div class="card border-dark mx-auto mt-3 col-md-8">
  <div class="card-body">
    <h5 class="card-title border-bottom pb-1 mb-3">ビール情報編集
      <span class="small text-danger"> *は必須項目です</span>
    </h5>

    <%= render "beer_form", beer: @beer %>

  </div>
</div>