<li class="nav-item mx-2 my-1 text-white text-center">
  <%= link_to beers_path, class: "text-reset" do %><i class="fas fa-beer"></i>ビールを探す
</li><% end %>

<li class="nav-item mx-2 my-1 text-white text-center">
  <%= link_to new_member_session_path, class: "text-reset" do %><i class="fas fa-sign-in-alt"></i>ログイン
</li><% end %>

<li class="nav-item mx-2 my-1 text-white text-center">
  <%= link_to new_member_registration_path, class: "text-reset" do %><i class="fas fa-user-plus"></i>会員登録
</li><% end %>