<li class="nav-item mx-2 my-1 text-white text-center">
  <%= link_to beers_path, class: "text-reset" do %><i class="fas fa-beer"></i>ビールを探す
</li><% end %>

<li class="nav-item mx-2 my-1 text-white text-center">
  <%= link_to posts_path, class: "text-reset" do %><i class="fas fa-feather-alt"></i>投稿を探す
</li><% end %>

<li class="nav-item mx-2 my-1 text-white text-center">
  <%= link_to members_path, class: "text-reset" do %><i class="fas fa-user"></i>ユーザーを探す
</li><% end %>

<li class="nav-item mx-2 my-1 text-white text-center">
  <%= link_to groups_path, class: "text-reset" do %><i class="fas fa-users"></i>グループを探す
</li><% end %>